
    /*Barra de rolagem*/
    
    .overflow {
        position: absolute;
        margin-top: 3em;
        margin-left: 31em;
        border: solid 3px rgba(47, 205, 79, 0.65);
        border-radius: 1em;
        width: 26%;
        height: 81.3%;
        overflow-y: auto;
    }
    
    .overflow-rotas p {
        text-align: center;
        top: 1em;
        position: relative;
    }
    
     ::-webkit-scrollbar-track {
        background-color: rgba(101, 178, 230, 0.39);
        height: 2em;
    }
    
     ::-webkit-scrollbar {
        width: 4px;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #00000026;
    }
    
    .overflow-aviso {
        position: relative;
        left: 25em;
        top: 3em;
        border: solid 3px rgba(47, 205, 79, 0.65);
        border-radius: 1em;
        margin: 0 auto;
        overflow: hidden;
        width: 280px;
        height: 280px;
    }
    
    .overflow-aviso p {
        text-align: center;
        position: relative;
        font-size: 1.5em;
    }
    
    .overflow-aviso img {
        position: relative;
        width:1em;
        right:2.3em;
    }
    
    .overflow-aviso ins{
    position:relative;
	text-align: center;
	float:right;
    }
    
    .overflow img{
    position: relative;
    width:2em;
    }
    
    STRONG{
    position: relative;
    left:1.5em;
    }
    
    .overflow  b{
    position:relative;
    left:2em;
    }
    
     .overflow  ins{
    position:relative;
    text-align: justify;
	float:right;
	top:1em;
	right:1.5em;
	font-size: 0.9em;
    }
    
   